*{
    padding: 0;
    margin:0;
    border: 1px #000200;
}
body{
    
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
    } 


    header{
        background-color: cyan;
        background-image:  url(../compi/alexa-williams-ODjT0FbSA5U-unslash.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        color: white;

    }
    #main-container #header #menu{
        padding: 50px 0;
    }
    header #menu ul li{
        display: inline-block;
        padding: :10px;
        vertical-align:middle

    }
    header #menu ul li a{
        
        text-decoration : none;
      }
      header #menu ul li a:hover{
          color:pink
          text-decoration:underline;
      }
      header #menu ul #logo
      margin-right:40%
      margin-left:100%
      /*******/

  #main-container header main{
      margin: 0 auto; 
       width:  1400px;

}
#main-container header main .text h1{
    
    padding:10px;
    vertical-align:middle;
}
#main-container header main .text{
    font-size: 24px 0;
}
button{
    background-color: purple;
    border:0;
    border: radius 3px;
    color:white
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 40px  0;
}
button:hover{
     background-color: violet;

}
#main-container header main.image{
    text-align:right ;
    width: 780px;
     
}
    
/++++++++/
.layout{
    width: 1280px;
    margin: 250px auto;
}
.layout div{
    display: inline-block;
     vertical-align: middle;
}
 .layout h3{
font-size: 48px;
padding: 25px 0
 }
 .layoutp{
     padding:25px 0;
     line-height: 32px
 }
 .layut-left.text{
     width: 770px;
 }

 .layout-left.image{
 width: 580px;
 }
 
 .layout-rigth.text{
  width:500px;
 }
 
 .layout-rigth.image{
     widows: 770px;
     text-align: center;
 }
footer{
    background-color: black;
    padding:150px 20px;
    color:violet
}










      
    
